*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --cor-fundo: #efa000;
    --cor-card: #ffffff;
    --cor-principal: #e91f62;
    --cor-principal-hover: #11b234;
    --cor-texto: #333333;
    --espacamento: 20px;
    --borda: 12px;

    /*Tempo de animação*/

    --tempo: 0.4s;
    /*Distância utilizada no transform*/
    --deslocamento: -10px;
    /*Intensidade da sombra*/
    --sombra: 0px 8px 20px rgba(0,0,0,.15);
}


body{
    font-family: "Edu VIC WA NT Hand", cursive;
    background-color: var(--cor-fundo);
    color: #4daa8e;
    box-sizing: 12px; 
    padding: 20px;

}

.portal-footer {
    grid-area: footer;
    background: #320ea5;
    color: white;
    text-align: left;
    padding: 20px 24px;
    border-radius: 8px;
    font-size: 1.2rem;
}

.logo-footer{
    font-size: 2.0rem;
    font-weight: bold;
}

.footer-direitos{
    text-align: center;
}

